<html>
<body>
  <p>Hi there,</p>
  
  <p>
    Just thought you'd like to know that <strong><%= @editor %></strong>
    has updated the cast for Scared Scriptless on <%= @show.date.strftime("%e/%b/%Y") %>:
  </p>
  
  <dl>
    <% %w(mcs cast musos ushers).each do |role| %>
      <% unless (jesters = @show.send(role)).empty? %>
        <dt><%= role == "mcs" ? "MC" : role == "ushers" ? "Ushers" : role.singularize.titleize %></dt>
        <%= jesters.map { |j| content_tag(:dd, j) }.join.html_safe %>
      <% end %>
    <% end %>
  </dl>
</body>
</html>